{% extends 'base/dependencies.html' %}
{% load static %}

{% block depHead %}
    <title>Projects - Ellis Keener-LaCroix</title>
{% endblock depHead %}

{% block depBody %}
    <nav  class="navbar navbar-expand-lg navbar-dark bg-dark" id="projectsBar">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">Ellis Keener-LaCroix</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#projectContainer">Space-Craft</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#rov">DalROV Website</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#dataBase">CPA Database</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#paint">Paint Jumperino</a>
                  </li>
            </ul>
          </div>
        </div>
      </nav>

    <!-- <div id="smallNameFill">
        <div class="nameCircle" id="projectName">
            <p>Ellis Keener-LaCroix</p>
        </div>
    </div> -->

<div id="projectContainer">



    <div class="projectDiv">
        <h2>Space-Craft</h2>
        <div class="projectInnerDiv aboutProject">
                <p>Space-Craft is a in progress game I'm working on which currently allows the user to build and fly 2D space ships.</p>
                <p>The game will feature an arcade style game mode which pits the player against a hostile outer space. The player will have to see how long they can survive and have many enemys can be defeated</p>
                <ul>
                <li>
                    Unity, C#
                </li>
            </ul>
        </div>
        <div class="projectInnerDiv pictureProject">
            <div id="carouselExampleControlsSpaceCraft" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'projects/SpaceCraft_Build.png' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'projects/SpaceCraft_Test.png' %}" class="d-block w-100" alt="...">
            </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControlsSpaceCraft" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControlsSpaceCraft" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </a>
        </div>
    </div>
    <div class="linksProject">
        <div class="fill">
            <a id="rov" href="https://github.com/EllisK-L/CPA_DataBase"><i class="fab fa-github"></i></a>
        </div>
    </div>
    </div>



    <div class="projectDiv">
        <h2 id="spacecraft">Dal ROV Website</h2>
        <div class="projectInnerDiv aboutProject">
            <p>This is a website I developed for my robotics team in 2019. It features a gallery to view our photos, our team, and a way to contact us. I finished the base of the website, however the content was never fully finished due to MATE canceling the 2020 competition due to COVID</p>
            <ul>
            <li>
                WordPress, PHP
            </li>
        </ul>        </div>
        <div class="projectInnerDiv pictureProject">
            <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'projects/ROV_Home.png' %}" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
        </div>
    <div class="linksProject">
        <div class="fill">
            <a href="https://github.com/EllisK-L/DalRobotics---Website"><i class="fab fa-github"></i></a>
            <a  id="dataBase" href="https://dalrov.happyrobotics.com"><i class="fas fa-external-link-alt"></i></a>
        </div>
    </div>
    </div>







    <div class="projectDiv">
        <h2>CPA DataBase</h2>
        <div class="projectInnerDiv aboutProject">
            <p>I developed this GUI database in 2018 to store the locations of equipment for the Production Services team at CPA Highschool. It was specifically developed for our purposes and our convenience. The database features the ability to search for items, add items easily, check items out or in with all the required information attached. </p>
            <ul>
            <li>
                Python, Tkinter
            </li>
        </ul>        </div>
        <div class="projectInnerDiv pictureProject">
            <div id="carouselExampleControlsDataBase" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'projects/DataBase_Home.png' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'projects/DataBase_Item.png' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'projects/DataBase_Item_Details.png' %}" class="d-block w-100" alt="...">
            </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControlsDataBase" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControlsDataBase" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </a>
        </div>
    </div>
    <div class="linksProject">
        <div class="fill">
            <a id="paint"  href="https://github.com/EllisK-L/CPA_DataBase"><i class="fab fa-github"></i></a>
        </div>
    </div>
    </div>



    <div class="projectDiv">
        <h2>Paint Jumperino</h2>
        <div class="projectInnerDiv aboutProject">
            <p>I've always been a fan of the mobile game Geometry Dash, so I decided to make a similar-ish game that puts a spin on the formula. You can double jump, there is a lot more vertical acceleration, and it is possible to die from falling from to high up unless you double jump before hitting the ground.</p>
            <p>The game currently features a level selector and a character selector which saves progress and the users choice of character. And of course, the game it’s self.</p>
            <ul>
            <li>
                Unity, C#
            </li>
        </ul>        </div>
        <div class="projectInnerDiv pictureProject">
            <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'projects/paint_start.png' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'projects/paint_character.png' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'projects/paint_level.png' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'projects/paint_jumping.png' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'projects/paint_death.png' %}" class="d-block w-100" alt="...">
            </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </a>
        </div>
    </div>
        <div class="linksProject">
            <div class="fill">
                <a id="dataBase" href=""><i class="fab fa-github"></i></a>
            </div>
        </div>
    </div>













    







    




 



</div>
{% endblock depBody %}