{% extends 'base/dependencies.html' %}
{% load static %}

{% block depHead %}
    <title>Ellis Keener-LaCroix</title>
{% endblock depHead %}

{% block depBody %}
{% include 'base/navbar.html' %}
<div id="homeContainer">
    <div class="fill">
        <div class="nameCircle">
            <h1>Ellis Keener-LaCroix</h1>
        </div>
    </div>
    <p>Hello?</p>
    <div class="fill">
        <a href="https://github.com/EllisK-L"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/ellis-k-01905613b/"><i class="fab fa-linkedin-in"></i></a>
    </div>
    <a href="#" class="btn btn-primary btn-lg homeButton">Resume</a>



    <a href="{% url 'projects' %}" class="btn btn-primary btn-lg homeButton">Projects</a>
    <div id="aboutHead" class="fill">
        <a href="#aboutHead">
        <i class="fas fa-arrow-down"></i>
        <h2>About Me</h2>
        <i class="fas fa-arrow-down"></i>
        </a>
    </div>

    <div class="about">
        <div class="aboutSection">
            <h3>Hello</h3>
            <p>This is the work I did</p>
        </div>
    </div>

</div>




{% endblock depBody %}