:root{
  --main-bg-colour: #353535;
  --main-colour: whitesmoke;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
.container-nav{
  display: flex;
  justify-content: center;
}
body{
  background-color: var(--main-bg-colour);
  color: var(--main-colour);
}

.homeButton{
  width: 30%;
  border-color: var(--main-colour);
  color: var(--main-colour);
  background-color: var(--main-bg-colour);
  margin-top: 1rem;
  margin-right: 5rem;
  margin-left: 5rem;
}
.homeButtonSplit{
  margin-right: 0px;
}


.nameCircle h1{
  line-height: 30rem;

}
.dot-out {
  margin: .5rem;
  height: 50px;
  width: 10%;
  background-color: var(--main-colour);
  border-radius: 20px;
  display: inline-block;
}
.dot-in {
  margin: .5rem;
  height: 50px;
  width: 10%;
  background-color: var(--main-colour);
  border-radius: 20px;
  display: inline-block;

  align-self: flex-end;
}
#homeContainer{
  /* background-color: red; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nameCircle{

  width: 30rem;
  height: 30rem;
  margin-top: 1%;
  text-align: center;
  background-color: 262626;
  border-radius: 50%;
  display: inline-block;



  -webkit-box-shadow: 0px 0px 39px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 39px -9px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 39px -9px rgba(0,0,0,0.75);
  animation: move 10s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}
#projectsBar{
  z-index: 10;
  background-color: var(--main-bg-colour) !important;
  border-color: whitesmoke;
  border-bottom: var(--main-bg-colour);
  border-style: solid;
  position: fixed;
  padding: 12px;
  margin-bottom: 100px;

}
#projectName{
  width: 10rem;
  height: 10rem;
  margin-right: 2rem;
}
/* #projectName p{
  line-height: 10rem;
} */

.fill{
  width: 100%;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
#smallNameFill{
  text-align: right;
}
.sideBar{
  background-color: gray;

}
#projectContainer{
  flex-wrap: wrap;
  padding-top: 100px;
  display: flex;
}
.projectDiv{
  width: 100%;
  padding: 2rem;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-areas: "header header"
                        "about image"
                        "footerl image";
  column-gap: 1rem;
  row-gap: 1rem;
}
.projectInnerDiv{
  border-style: solid;
  border-color: whitesmoke;
  border-radius: 1rem;
  padding: 1rem;

  background-color: #404040;
}

#projectContainer h2{
  grid-area: header;
}
.pictureProject{
  grid-area: image;
}
.linksProject{
  justify-self: end;

}
.fa-external-link-alt{
  font-size: 2rem;
}
.fill .fab{
  font-size: 40px;
  padding-right: 1rem;
  padding-left: 1rem;
}
.fill a{
  transition: .3s;
  text-decoration: none;
  color: whitesmoke;
}
.fill a:hover{
  transition: .3s;
  color: gray;
}
.aboutSection{
  border-style: solid;
  border-color: whitesmoke;
  border-radius: 1rem;
  padding: 1rem;
  margin: 2rem;
  width: 70%;
  display: flex;
  align-items: center;
  background-color: #404040;
}
.about{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.aboutSubHeading{
  color: darkgray;
}
.aboutPhoto{
  height: auto;
  width: 70%;
  margin-right: 1rem;
}
.aboutPhotoDiv{
  width: 40%;
  text-align: center;
}
.aboutContent{
  width: 70%;

}



@keyframes move{
  0%{
    -webkit-box-shadow: 0px 0px 39px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 39px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 39px -9px rgba(0,0,0,0.75);
  }
  50%{
    -webkit-box-shadow: 0px 0px 88px 25px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 88px 25px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 88px 25px rgba(0,0,0,0.75);
  }
  }







